<%= stylesheet_link_tag "style.css" %>
<div class="insideapp">
    <%= render partial: "navbar/navbar"%>
    <div class="maincontainer" >
        <div class="uploadheader">
            <p>Dodawanie nowego zdjęcia:</p>
            <%= button_to home_path, class:"backbutton",  method: :get do %>
                <i class="fa-solid fa-arrow-left"></i>
            <% end %>
            
        </div>
        <div class="uploadbody">
            <%= form_with url: submit_path,  class: "uploadform" do |f| %>
                <%=f.text_field :name, placeholder:"Nazwa"%>
                <%= f.file_field :pic%>
                <%=f.text_field :desc, placeholder:"Opis"%>
                <%= f.submit "Prześlij", class:"longbutton",  method: :post %>
            <%end%>
        </div>
        </div>
    </div>
</div>    

