<%= stylesheet_link_tag "style.css" %>
<div class="insideapp">
    <%= render partial: "navbar/navbar"%>
    <div class="maincontainer" >
        <div class="uploadheader">
            <p>Dodawanie nowego zdjęcia:</p>
            <%= button_to root_path, class:"backbutton",  method: :get do %>
                <i class="fa-solid fa-arrow-left"></i>
            <% end %>
            
        </div>
        <div class="uploadbody">
            <!--<form action="/action_page.php" class="uploadform">
                <div class="selectfile">
                    <label for="img">Wybierz z dysku:</label>
                    <input type="file" id="img" name="img" accept="image/*" class="file">
                </div>
                <input class="photodescription" placeholder="OPIS ZDJĘCIA"/>
                 <%= button_to "Prześlij", login_path, class:"longbutton",  method: :post %>
            </form>
            -->
             <%= button_to "Prześlij", submit_path, class:"longbutton",  method: :post %>
             <%=@photo%>
        </div>
        </div>
    </div>
</div>    

