<div class="singlephotofromgrip">
    <% if @photo.pic.attached? %>
        <image src="<%=(url_for(@photo.pic))%>">
    <% end %>   
    <h3><%=@photo.name%></h3>
    <p><%=@photo.data_dodania.strftime("%d.%m.%Y - %H:%M:%S")%></p>
    <p><%=@photo.desc%></p>
    <%= link_to "Download", url_for(@photo.pic), download: @photo.pic %>
    <%= button_to "Historia", history_path, method: :get, params:{id:@photo.id}%>

</div>