<%= stylesheet_link_tag "style.css" %>
<div class="insideapp">
    <%= render partial: "navbar/navbar"%>
    <div class="maincontainer" >
        <div class="choosebranchheader">
            <p>Historia pobrań:</p>
            <%= button_to myphotos_path, class:"backbutton",  method: :get do %>
                <i class="fa-solid fa-arrow-left"></i>
            <% end %>
        </div>
        <div class="historygrip">
            <% @downloads.each do |download| %>
                    <div class="downloadcard">
                        <p style="color:#18A0DB"><strong><%=download.by_who%></strong></p>
                        <p><%=download.date.strftime("%d.%m.%Y - %H:%M:%S")%></p>
                    </div>
            <%end%>
        </div>
    </div>
</div>    

