<%= stylesheet_link_tag "style.css" %>
<div class="insideapp">
    <%= render partial: "navbar/navbar"%>
    <div class="maincontainer" >
        <div class="choosebranchheader">
            <p>Zdjęcia wgrane przez Ciebie:</p>
            <%= button_to root_path, class:"backbutton",  method: :get do %>
                <i class="fa-solid fa-arrow-left"></i>
            <% end %>
        </div>
        <div class="photosgrip">
            <% @photos.each do |photo| %>
                <div class="singlephotofromgrip">
                    <% if photo.pic.attached? %>
                        <image src="<%=(url_for(photo.pic))%>">
                    <% end %>   
                    <h3><%=photo.name%></h3>
                    <p><%=photo.data_dodania.strftime("%d.%m.%Y - %H:%M:%S")%></p>
                    <p><%=photo.desc%></p>
                </div>
            <%end%>
        </div>
    </div>
</div>    

